<footer class="site-footer">

    <div class="footer-main">

        <div class="footer-container">

            <!-- Footer About -->
            <div class="footer-column footer-about">

                <a href="index.html" class="footer-logo">
                    Smile<span>Care</span>
                </a>

                <p>
                    SmileCare Dental Clinic provides professional,
                    comfortable, and complete dental care for you
                    and your family.
                </p>

                <div class="footer-social">

                    <a href="#" aria-label="Facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" aria-label="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" aria-label="Twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>

                    <a href="#" aria-label="LinkedIn">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>

                </div>

            </div>


            <!-- Quick Links -->
            <div class="footer-column">

                <h3>Quick Links</h3>

                <ul class="footer-links">

                    <li>
                        <a href="index.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="about.html">
                            <i class="fa-solid fa-angle-right"></i>
                            About Us
                        </a>
                    </li>

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Services
                        </a>
                    </li>

                    <li>
                        <a href="doctors.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Our Doctors
                        </a>
                    </li>

                    <li>
                        <a href="blogs.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Blogs
                        </a>
                    </li>

                    <li>
                        <a href="contact.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Contact
                        </a>
                    </li>

                </ul>

            </div>


            <!-- Our Services -->
            <div class="footer-column">

                <h3>Our Services</h3>

                <ul class="footer-links">

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            General Dentistry
                        </a>
                    </li>

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Teeth Whitening
                        </a>
                    </li>

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Dental Implants
                        </a>
                    </li>

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Cosmetic Dentistry
                        </a>
                    </li>

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Dental Cleaning
                        </a>
                    </li>

                    <li>
                        <a href="services.html">
                            <i class="fa-solid fa-angle-right"></i>
                            Orthodontics
                        </a>
                    </li>

                </ul>

            </div>


            <!-- Contact Information -->
            <div class="footer-column footer-contact">

                <h3>Contact Us</h3>

                <div class="footer-contact-item">

                    <div class="footer-contact-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>

                    <div>
                        <span>Address</span>
                        <p>
                            Kohat,<br>
                            City Center
                        </p>
                    </div>

                </div>


                <div class="footer-contact-item">

                    <div class="footer-contact-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>

                    <div>
                        <span>Phone</span>
                        <a href="tel:+1234567890">
                            +92 3119412455
                        </a>
                    </div>

                </div>


                <div class="footer-contact-item">

                    <div class="footer-contact-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>

                    <div>
                        <span>Email</span>
                        <a href="mailto:info@smilecare.com">
                            info@ahmadbilal123330@gmail.com
                        </a>
                    </div>

                </div>


                <div class="footer-contact-item">

                    <div class="footer-contact-icon">
                        <i class="fa-solid fa-clock"></i>
                    </div>

                    <div>
                        <span>Opening Hours</span>
                        <p>
                            Mon - Sat: 9:00 AM - 6:00 PM
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- Footer Bottom -->
    <div class="footer-bottom">

        <div class="footer-bottom-container">

            <p>
                © 2026 <strong>SmileCare Dental Clinic</strong>.
                All Rights Reserved. Developed by AhmadBilal.
            </p>

            <div class="footer-bottom-links">

                <a href="#">Privacy Policy</a>

                <span>|</span>

                <a href="#">Terms & Conditions</a>

            </div>

        </div>

    </div>

</footer>