<header class="site-header">

    <div class="navbar-container">

        <!-- Logo -->
        <a href="index.html" class="navbar-logo">
            Smile<span>Care</span>
        </a>


        <!-- Navigation -->
        <nav class="navbar-menu" id="navbarMenu">

            <a href="index.html" data-page="index">
                Home
            </a>

            <a href="about.html" data-page="about">
                About
            </a>

            <a href="services.html" data-page="services">
                Services
            </a>

            <a href="doctors.html" data-page="doctors">
                Doctors
            </a>

            <a href="blogs.html" data-page="blogs">
                Blogs
            </a>

            <a href="contact.html" data-page="contact">
                Contact
            </a>

            <a href="contact.html#appointment" class="navbar-btn">
                <i class="fa-solid fa-calendar-check"></i>
                <span>Book Appointment</span>
            </a>

        </nav>


        <!-- Mobile Hamburger -->
        <button
            class="navbar-toggle"
            id="navbarToggle"
            type="button"
            aria-label="Open navigation menu"
            aria-expanded="false">

            <span></span>
            <span></span>
            <span></span>

        </button>

    </div>

</header>